  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        Ana Sayfa
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="/register">Kayıt ol</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="/login">Giriş Yap</a>
          </li>
          {% endif %}
        </ul>
        {% if current_user.is_authenticated %}
        <form action="/quiz" class="d-flex">
          <button class="btn btn-outline-success" type="submit">Sınav</button>
        </form>
        
        <form action="/logout" class="d-flex">
          <button  class="btn btn-outline-success" style="background-color: crimson; color: whitesmoke; border-color: darkred; " type="submit">Çıkış Yap</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
